@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype'),
  url('../fonts/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

$featureTextColor: #424242;
$blue: #006FA0;
$lightBlue: #F2FAFF;
$buttonBg: #FFC81B;
$buttonColor: #004461;
$white: #fff;
$lightBlue_04_opacity: rgba(0, 111, 160, 0.4);
$shadowColor: rgba(0,0,0,0.08);
$labelColor: #424242;


body{
  margin: 0;
  padding: 0;
  background: #F2FAFF;
  height: 100vh;
}

.container{
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 0px;
}


@media(max-width:1200px){
  .controls{

    &.prev{
      left:15px;
    }

    &.next{
      right: 15px;
    }
  }
}

@media(max-width:600px){

  .container{
    height: auto;
  }

  .controls{
    display: none;
  }

  .items-slider{

    top:initial;
    left: initial;
    transform: none;

    .slick-slide{
      margin: 0 10px;
    }

    .slick-dots{
      margin-top: 0px;
    }
  }
}


@import "../components/item/styles/item";
@import "../components/person/styles/person";
@import "../components/rating/styles/rating";
@import "../components/rating/styles/stars_list";
@import "../components/feature/styles/feature";
@import "../components/blue_blocks/styles/blue_blocks";
@import "../components/blue_blocks/styles/blue_block";
@import "../components/button/styles/button";
@import "partials/items_slider";
@import "partials/slick";