@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  background: #F2FAFF;
  height: 100vh;
}

.container{
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 0px;
}

.items-slider{

  max-width: 1200px;
  position: relative;
  top:50%;
  left:50%;
  transform: translate3d(-50%, -50%, 0);

  .slide{
    outline: none;
  }

  .slick-list{
    padding: 20px 0;
  }

  .slick-dots{
    padding:0;
    list-style: none;
    margin: 25px auto 0;
    text-align: center;

    li{
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: rgba(19,193,229,0.4);
      cursor:pointer;

      &.slick-active{
        background: #13C1E5;
      }

      &:not(:last-of-type){
        margin-right: 18px;
      }

      button{
        display: none;
      }
    }
  }
}

.controls{
  position: absolute;
  width: 16px;
  height: 30px;
  border:none;
  outline: none;
  background: transparent;
  top:50%;
  margin-top: -15px;
  cursor:pointer;
  z-index: 5;
  padding: 0px;

  &.prev{
    left:0;
    background: url('../images/prev.svg') no-repeat center;
    background-size: cover;
  }

  &.next{
    right: 0;
    background: url('../images/next.svg') no-repeat center;
    background-size: cover;
  }
}

@media(max-width:1200px){
  .controls{

    &.prev{
      left:15px;
    }

    &.next{
      right: 15px;
    }
  }
}

@media(max-width:600px){

  .container{
    height: auto;
  }

  .controls{
    display: none;
  }

  .items-slider{

    top:initial;
    left: initial;
    transform: none;

    .slick-slide{
      margin: 0 10px;
    }

    .slick-dots{
      margin-top: 0px;
    }
  }
}


@import "../components/item/styles/item";
@import "../components/person/styles/person";
@import "../components/rating/styles/rating";
@import "../components/rating/styles/stars_list";
@import "../components/feature/styles/feature";
@import "../components/blue_blocks/styles/blue_blocks";
@import "../components/blue_blocks/styles/blue_block";
@import "../components/button/styles/button";
@import "partials/slick";