.blue-blocks{

  overflow: hidden;

  .blue-blocks__title{
    color:$blue;
    font-size: 14px;
    font-family: 'OpenSans', 'sans-serif';
    display: block;
    margin-bottom: 14px;
  }

  .blue-blocks__body{
    margin: 0 0 -10px -30px;

    .blue-block{
      margin: 0 0 10px 28px;
      display: inline-block;
    }
  }
}

@media(max-width:600px){
  .blue-blocks{
    .blue-blocks__body{
      margin: 0 0 -10px 0px;

      .blue-block{
        margin: 0 0 10px 0;
        display: block;
      }
    }
  }
}