.blue-block{

  color:$blue;
  font-size: 14px;
  font-family: 'OpenSans', 'sans-serif';
  background-color: $lightBlue;
  border-radius: 5px;
  padding: 6px 10px;
  width: 100%;
  max-width: 185px;
  text-align: center;
  box-sizing: border-box;
}

@media(max-width: 600px){
  .blue-block{
    max-width: initial;
    flex: 0 1 100%;
  }
}