.feature{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex:1 0 auto;
  padding-bottom: 18px;
  margin: 0;

  .feature__image{
    display: block;
    margin: 0 auto;
  }

  .feature__text{
    display: block;
    color: $featureTextColor;
    font-family: 'OpenSans', 'sans-serif';
    font-size: 14px;
    margin-top: 6px;
  }
}
