.person{

  display: flex;
  flex-direction: row;

  .person__photo{
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .person__info{
    flex:1 0 calc(100% - 90px);
  }

  &:after{
    content:'';
    display: block;
    clear: both;
  }
}


.name{
  display: block;
  font-family: 'OpenSans', 'sans-serif';
  font-size: 18px;
  font-weight: bold;
  color:$blue;
  margin-top: 10px;
  text-decoration: none;
  outline: none;
}

@media(max-width:600px){
  .person{

    flex-direction: column;

    .person__photo{
      display: block;
      float: none;
      margin: 0 auto;
    }

    .person__info{
      flex:1 0 100%;
      text-align: center;
    }
  }
}