.stars-list{
  padding: 0;
  margin: 0px;
  list-style: none;
  width: 100px;
  height: 20px;
  position: relative;
  .stars-list__stars{
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    overflow: hidden;
    background: $white;
    bottom:-2px;

    &.stars-list__stars_yellow{
      z-index: 2;

      img{
        position: absolute;
        bottom:0;
      }
    }

    &.stars-list__stars_grey{

      img{
        position: absolute;
        bottom:0;
      }
    }


  }
}